version: "3.8"

services:
  bot:
    build:
      context: .
      target: final
    environment:
      DB_HOST: postgres
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
    networks:
      - bot_network

networks:
  bot_network:
    driver: bridge
  